/* Mobile first */

:root {
    --color-bg-primary: #ffffff;
    --color-bg-secondary: #edf2f7;
    --color-text-primary: #2d3748;
    --color-text-secondary: #4a5568;
    --color-text-accent: #2b6cb0;
    --color-text-submit: #ffffff;
}

.dark {
    --color-bg-primary: #2d3748;
    --color-bg-secondary: #283141;
    --color-text-primary: #f7fafc;
    --color-text-secondary: #e2e8f0;
    --color-text-accent: #81e6d9;
    --color-text-submit: #1a1a1a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-bg-secondary);
    padding-bottom: 10px;
}

.logo {
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 5px;
    margin-left: 20px;
}

.logo a {
    text-decoration: none;
    color: var(--color-text-primary);
}

.nav-links {
    display: none;

}

.nav-links.active {
    display: block;
}

.nav-links li {
    list-style-type: none;
    text-align: center;
    letter-spacing: 2px;
    padding: 10px 0 10px 0;
    font-size: 18px;
}

nav a {
    text-decoration: none;
    display: block;
    color: var(--color-text-secondary);
}

.theme-toggle {
    width: 27px;
    height: 27px ;
    border: 1px solid var(--color-text-primary);
    background: transparent;
    border-radius: 5px;
    cursor: pointer;
}

.theme-toggle i {
    margin: auto;
    font-size: 16px;
    color: var(--color-text-primary);
}

.theme-toggle:focus {
    outline: none;
}

.burger .fa-bars {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    font-size: 28px;
    color: var(--color-text-primary);
}

.marvel-h2,
.dc-h2 {
    font-size: 24px;
    text-align: center;
    letter-spacing: 2px;
    background-color: var(--color-bg-primary);
    color: var(--color-text-primary);
    padding: 20px 0 10px 0;
}

.marvel-article, .dc-article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    background-color: var(--color-bg-primary);
}

.movie-card {
    flex: 0 1 200px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.movie-card img {
    width: 100%;
    border-radius: 10px;
}

.movie-title h3 {
    text-align: center;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 18px;
    color: var(--color-text-accent);
}

/* Form */
.modal {
    background-color: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
}

.modal.active {
    visibility: visible;
    opacity: 1;
}

.close-btn {
    position: absolute;
    top: 0;
    right: 20px;
    cursor: pointer;
    font-size: 42px;
    font-weight: 500;
    color: var(--color-text-secondary);
}

.form h2 {
    letter-spacing: 2px;
    margin-bottom: 40px;
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    color: var(--color-text-primary);
}

.form {
    position: relative;
    flex-basis: 400px;
    background-color: var(--color-bg-secondary);
    border-radius: 5px;
    padding: 60px 20px 40px 20px;
}

.form-control {
    margin-bottom: 15px;
}

.form-control label {
    letter-spacing: 1px;
    font-size: 18px;
    margin-bottom: 5px;
    color: var(--color-text-accent);
}

.form-control input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid var(--color-text-secondary);
    padding-left: 10px;
    margin-bottom: 5px;
    font-size: 16px;
}

input[type="submit"] {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    letter-spacing: 1px;
    cursor: pointer;
    font-size: 18px;
    margin-bottom: 20px;
    color: var(--color-text-submit);
    background-color: var(--color-text-accent);
}

.p1 {
    color: var(--color-text-secondary);
    margin-bottom: 20px;
}

.p2 {
    color: var(--color-text-secondary);
    text-align: center;
}

.p2 a {
    color: var(--color-text-accent);
    text-decoration: none;
}

.p2 a:hover {
    color: var(--color-text-accent);
    text-decoration: underline;
}

.form-control input:focus {
    outline: none;
}

.form input[type=submit]:focus {
    outline: none;
}

/*.form-control.success input {
    border: 2px solid green;
}

.form-control.error input {
    border: 2px solid red;
}*/

.form-control small {
    visibility: hidden;
}

.form-control.error small {
    visibility: visible;
    color: var(--color-text-secondary);
    letter-spacing: 1px;
    font-size: 14px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    background-color: var(--color-bg-secondary);
}

.footer-h2 {
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--color-text-primary);
}

.social-icons li {
    list-style-type: none;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 10px;
    color: var(--color-text-secondary);
}

.fab {
    font-size: 18px;
    margin: 0 10px 0 10px;
}

.footer-container p {
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 20px;
    font-weight: 200;
    color: var(--color-text-secondary);
}


/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {

    .header-container {
        align-items: center;
    }

    .logo {
        margin: 10px 0 10px 0;
    }

    .burger .fa-bars {
        display: none;
    }

    .nav-links {
        display: block;
    }

    .nav-links li {
        display: inline-block;
        border-bottom: none;
        margin: 0 40px 5px 40px;
    }

    .marvel-article, .dc-article {
        gap: 15px;
    }
}

/* Desktop */
@media screen and (min-width: 1025px) {
    .header-container {
        flex-direction: row;
    }

    .logo {
        margin-left: 80px;
    }

    .nav-links {
        display: inline-block;
        margin-right: 80px;
    }

    .nav-links li {
        display: inline-block;
        border-bottom: none;
        margin-left: 60px;
    }

    .burger .fa-bars {
        display: none;
    }

    .marvel-h2, .dc-h2 {
        padding-top: 60px;
        font-size: 28px;
    }

    .marvel-article, .dc-article {
        gap: 20px;
    }

    /* hover effect */
    .movie-card img {
        position: relative;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
        transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    .movie-card img::after {
        content: "";
        border-radius: 10px;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        opacity: 0;
        -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
        transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    .movie-card img:hover {
        -webkit-transform: scale(1.25, 1.25);
        transform: scale(1.25, 1.25);
    }

    .movie-card img:hover::after {
        opacity: 1;
    }
}
